# Cpp Object files
*.o
*.dll

# idea folder, uncomment if you don't need it
.idea
.Rproj.user

# ignore intermediate files created during quarto vignette rendering
vignettes/articles/*_files 
vignettes/*_files 
docs

.DS_Store